.CategoryPage {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
}

.CategoryPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}